# Node.js config
frontend/node_modules/
frontend/.env
frontend/.next/
frontend/build/

# Java/Spring config
backend/target/
backend/.env
backend/.idea/
backend/.vscode/
backend/logs/
backend/*.iml

# sub
.DS_Store
*.log
